<%= form_with model: task, local: true do |f| %>

  <%# user_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <!-- ステータス -->
  <div class="form-group row">
    <%= f.label :state, "State : ", class: "col-xl-5" %>

    <% unless value == '更新' %>
    <%# NEWの場合 %>
      <div class="col-xl-7">
        <%= button_tag 'TODO', type: 'button', class: "btn btn-primary form-control", id: "state_btn" %>
        <%= f.hidden_field :state, value: "TODO" %>
      </div>
    <% else %>
    <%# EDITの場合 %>
      <div class="col-xl-7">
        <%= button_tag state, type: 'button', class: "btn btn-primary form-control", id: "state_btn" %>
        <%= f.hidden_field :state, value: state %>
      </div>
    <% end %>
  </div>

  <!-- デッドライン -->
  <div class="form-group row">
    <%= f.label :limit, "Limit : ", class: "col-sm-4" %>
    <%= f.date_field :limit, class: "col-sm-8 form-control", value: Date.current.strftime() %>
  </div>

  <!-- コンテンツ -->
  <div class="form-group row">
    <%= f.label :content, "Task :" %>
    <%= f.text_field :content, autocomplete: 'off' %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit value, class: "btn btn-primary", id: "submitButton" %>
  </div>
<% end %>
