<div class="task-content col-md-11 offset-md-1" id="task-<%= task.id %>">

  <!-- ステータス -->
  <%= link_to "/change/#{task.id}", method: "post", class: "btn btn-primary", id: "state_btn-#{task.id}", data: { remote: true } do %>
    <span><%= task.state %></span>
  <% end%>

  <!-- デッドライン -->
  <p id="limit-<%= task.id %>"><%= task.limit %></p>

  <!-- タスク内容 -->
  <p id="content-<%= task.id %>"><%= task.content %></p>


  <!-- 編集・削除 -->
  <!-- モーダルのトリガーボタン -->
  <%= link_to '編集',
                edit_task_path(task),
                data: { remote: true },
                class: "btn btn-primary",
                id: "editButton-#{task.id}" %>

  <%= link_to '削除', task_path(task),
              method: :delete,
              data: { confirm: '削除しますか?', remote: true },
              class: "btn btn-secondary" %>

</div>
