<div class="task-content col-md-12" id="task-<%= task.id %>">

  <%# ステータスボタンに付与するクラスの取得 %>
  <% if task.state == 'TODO' %>
    <% state_class = 'btn-success' %>
  <% elsif task.state == 'DOING' %>
    <% state_class = 'btn-warning' %>
  <% elsif task.state == 'DONE' %>
    <% state_class = 'btn-secondary' %>
  <% end %>

  <%# ステータス %>
  <%= link_to "/change/#{task.id}", method: "post", class: "state col-md-1 btn #{state_class}", id: "state_btn-#{task.id}", data: { remote: true } do %>
    <span><%= task.state %></span>
  <% end%>

  <%# デッドライン %>
  <p class="limit col-md-2" id="limit-<%= task.id %>"><%= task.limit %></p>

  <%# タスク内容 %>
  <p class= "content col-md-6" id="content-<%= task.id %>"><%= task.content %></p>

  <%# 編集・削除 %>
  <div class="btn-area col-md-2">
    <%= link_to '編集',
                  edit_task_path(task),
                  data: { remote: true },
                  class: "btn btn-info",
                  id: "editButton-#{task.id}",
                  "data-bs-toggle" => "modal",
                  "data-bs-target" => "#modal" %>

    <%= link_to '削除', task_path(task),
                method: :delete,
                data: { confirm: '削除しますか?', remote: true },
                class: "btn btn-danger" %>
  </div>
</div>
